.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 300px;
    max-height: 500px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product:hover {
    box-shadow: 0px 0px 5px 0px #131921;
    transform: scale(1.05);
    transition: all 100ms linear;
}

.product__info {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.product__price {
    margin-top: 5px;
    text-align: center;
}

.product__rating {
    display: flex;
    justify-content: center;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background: #f0c14b;
    border: 2px solid;
    padding: 5px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
}

.product > button:hover {
    background: rgb(255, 202, 69);
}
